body {
	margin: 0;
	height: 100%;
	font-family: 'Courier New', Courier, monospace;
	background-color: #d6d2c4;
	display: flex;
	align-items: center; 
	min-height: 100vh;
	color: #333;
  }

  img {
	width: 100px;
	height: 100px;
  }

  .align-items-end {
	align-items: end;
  }

  .space-between {
	justify-content: space-between;
  }

  .pong {
	margin-left: 3rem;
  }

  .searchDiv {
	margin-left: 38rem;
	margin-bottom: 2rem;
  }

  /* .container {
	width: 80%;
	max-width: 1200px;
	text-align: center;
	background-color: #e7e3d4;
	border: 2px solid #b3aea4;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
  } */

  form {
	margin-top: 2rem;
	margin-bottom: 2rem;
  }

  .form-control {
	margin-right: 1rem;
  }

  h1 {
	font-size: 48px;
	letter-spacing: 8px;
	font-weight: normal;
	color: #333;
	margin-bottom: 2rem;
  }

  h2 {
	display: inline;
	font-size: 24px;
	letter-spacing: 8px;
	font-weight: normal;
	color: #333;
	margin-bottom: 2rem;
  }

  .inbox-icon {
	cursor: pointer;
  }

  .icon-container {
	position: absolute;
	top: 10px;
	right: 20px;
  }

  .red-dot {
	position: absolute;
	top: 0;
	right: 0;
	width: 8px;
	height: 8px;
	background-color: red;
	border-radius: 50%;
  }

  .actions {
	margin-bottom: 3rem;
  }

  main {
	flex-grow: 1; 
	padding: 20px;
	min-width: 300px; /* Minimum width to prevent it from collapsing */
    overflow: hidden; 
	align-items: center;
  }

  a {
	color: #333;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
	transition: background-color 0.3s ease;
  }

.nav {
	width: 200px;
	height: 100vh;
    background-color: #333; /* Adjust to match your design */
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    flex-shrink: 0;
  }

  .nav a {
	color: #b3aea4;
	text-decoration: none;
	font-size: 18px;
	font-weight: lighter;
	display: block;
	padding: 10px;
	margin-bottom: 10px;
	transition: background-color 0.3s ease;
  }

  .nav a:hover {
	background: #b3aea4;
  }

  .input-group {
	margin-bottom: 1rem;
  }

  .nav a:hover {
	background: #b3aea4;
  }

  select {
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	background-color: #d6d2c4;
	border: 1px solid #b3aea4;
	border-radius: 4px;
  }

  .select-wrapper {
	margin-top: 1rem;
	margin-bottom: 1rem;
  }

  select:focus {
	outline: none;
	border-color: #888;
  }
/* 
  .main-content {
	margin-left: var(--nav-width);
	padding: 40px;
	flex-grow: 1;
  } */

  .buttons {
	display: flex;
	justify-content: center;
	margin-top: 40px;
  }

  button {
	background-color: #333;
	color: white;
	border: none;
	padding: 15px 30px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }

  button:hover {
	background-color: #555;
  }

  .avatar { 
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-right: 10px;
  }

  .avatar-container {
    display: flex;
    align-items: center;
    position: relative;
}

 .password-requirements{
	color: rgb(174, 1, 1) !important;
	font-size: 10px !important;
	font-weight: bold !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
 }

.status {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-left: 5px;
  }

table {
	width: 100%;
	border-style: outset;
	border-collapse: collapse;
}

td {
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 8px;
	text-align: middle;
}

th {
	font-weight: bold;
	padding: 8px;
	text-align: middle;
}

tr:hover {
    background-color: #e0e0e0;
}


@media (max-width: 600px) {
    .container {
        flex-direction: column; /* Stacks the navbar on top in small screens */
    }

    .navbar {
        width: 100%; /* Makes the navbar full width on small screens */
    }

    .main-content {
        min-width: unset; /* Allows the content to adjust as needed */
    }
}
